<div class = "spaceman-container">
    
    <!--<img class = "stars-background"src = "../../../assets/img/homePage/stars-background.svg">-->

    
    <img class = "spaceman" src = "./assets/img/homePage/spaceman.svg">
    
   
    <div class = "spaceman-text">
        <p class = "spaceman-indeed-text">"IMAGINAMOS JUNTOS Y TRABAJAMOS DE LA MANO"</p>
    </div>

</div>




<!--  
    Así estaba originalmente
    <bwl-service-card
                        (click) = "navigate(item.link)"
                        [image]="item.image"
                        [title]="item.title"
                        [link]="item.link">
                    </bwl-service-card>-->