<!--<div class = "we-are-container">
    <div class = "flex-container">

        
            
        <img class = "we-are-photo" src= "./assets/img/homePage/smiling-man.png" class="image-style"/>

     

        <div class = "we-are-text-container">

            <p class = "who-we-are-title">QUIENES SOMOS</p>
            <p class = "who-we-are-subtitle">"CREAMOS <span class = "blue-words">SOLUCIONES</span> GRANDIOSAS PARA <span class = "blue-words">TI</span>"</p>
            <p class = "who-we-are-description">Somos una empresa de consultoría de software joven
                 y en constante evolución. Nuestro equipo de trabajo se 
                 conforma de jóvenes inquietos con gran pasión a la tecnología
                  y gente con experiencia que le da un toque especial a cada desarrollo.
                   Utilizamos los entornos de programación de software más
                 modernos como preparación para los retos del mañana y 
                 entregamos soluciones completas que permitan resolver necesidades 
                 específicas de nuestros clientes.
            </p>

            <p class = "who-we-are-button">Ver más +</p>

        </div>
    </div>
</div>-->

<div class = "container-of-containers">
<div class = "main-container">

    <div class = "image-container">
        <img src = "./assets/img/homePage/smiling-man.png">
    </div>

    <div class = "text-container">
        <p class = "title">QUIENES SOMOS</p>
        <p class = "subtitle">"CREAMOS <span class = "blue-words">SOLUCIONES</span> GRANDIOSAS PARA <span class = "blue-words">TI" </span></p>
        <p class = "text-content">
            Somos una empresa de consultoría de software
             joven y en constante evolución. Nuestro equipo
              de trabajo se conforma de jóvenes inquietos con
               gran pasión a la tecnología y gente con experiencia 
               que le da un toque especial a cada desarrollo. 
               Utilizamos los entornos de programación de software más 
               modernos como preparación para los retos del mañana y entregamos 
            soluciones completas que permitan resolver 
            necesidades específicas de nuestros clientes.
        </p>

        <p class = "bottom-button">Ver más +</p>
    </div>
    
</div>

</div>
