
<div style = "background-color: white;">
<div class = "carrusel">

    <div class = "visible-carrusel" >
        <div class = "contenedor-cajas">

            <div class = "caja" >
                <div class = "text-container">
                    <div style = "border-radius: 50%; width: 100px; height: 100px;
                    background-color: blueviolet; position: absolute; top: -95px; left: 33%;  box-shadow: 0px 0px 25px #0000000D;"></div>
                    <p class = "member-name">David Bertani</p>
                    <p class = "member-position">Director General BWL</p>
                    <p class = "member-description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamc...
                    </p>
                </div>
               
            </div>

            <div class = "caja">
                <div class = "text-container">
                    <div style = "border-radius: 50%; width: 100px; height: 100px;
                    background-color: blueviolet; position: absolute; top: -95px; left: 33%;  box-shadow: 0px 0px 25px #0000000D;"></div>
                    <p class = "member-name">David Bertani</p>
                    <p class = "member-position">Director General BWL</p>
                    <p class = "member-description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamc...
                    </p>
                </div>
               
            </div>

            <div class = "caja" style = "background: transparent linear-gradient(90deg, #FFFFFF00 0%, #FFFFFFBF 57%, var(--unnamed-color-ffffff) 100%) 0% 0% no-repeat padding-box;">
                <div class = "text-container">
                    <div style = "border-radius: 50%; width: 100px; height: 100px;
                    background-color: blueviolet; position: absolute; top: -95px; left: 33%;  box-shadow: 0px 0px 25px #0000000D;"></div>
                    <p class = "member-name">David Bertani</p>
                   
                    <p class = "member-position">Director General BWL</p>
                    <p class = "member-description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamc...
                    </p>
                </div>
               
            </div>


            <div class = "caja">
                <div class = "text-container">
                    <div style = "border-radius: 50%; width: 100px; height: 100px;
                    background-color: blueviolet; position: absolute; top: -95px; left: 33%;  box-shadow: 0px 0px 25px #0000000D;"></div>
                    <p class = "member-name">David Bertani</p>
                    <p class = "member-position">Director General BWL</p>
                    <p class = "member-description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamc...
                    </p>
                </div>
               
            </div>
            <div class = "caja">
                <div class = "text-container">
                    <div style = "border-radius: 50%; width: 100px; height: 100px;
                    background-color: blueviolet; position: absolute; top: -95px; left: 33%;  box-shadow: 0px 0px 25px #0000000D;"></div>
                    <p class = "member-name">David Bertani</p>
                    <p class = "member-position">Director General BWL</p>
                    <p class = "member-description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamc...
                    </p>
                </div>
               
            </div>
            <div class = "caja">
                <div class = "text-container">
                    <div style = "border-radius: 50%; width: 100px; height: 100px;
                    background-color: blueviolet; position: absolute; top: -95px; left: 33%;  box-shadow: 0px 0px 25px #0000000D;"></div>
                    <p class = "member-name">David Bertani</p>
                    <p class = "member-position">Director General BWL</p>
                    <p class = "member-description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamc...
                    </p>
                </div>
               
            </div>
            <div class = "caja">
                <div class = "text-container">
                    <div style = "border-radius: 50%; width: 100px; height: 100px;
                    background-color: blueviolet; position: absolute; top: -95px; left: 33%;  box-shadow: 0px 0px 25px #0000000D;"></div>
                    <p class = "member-name">David Bertani</p>
                    <p class = "member-position">Director General BWL</p>
                    <p class = "member-description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamc...
                    </p>
                </div>
               
            </div>
            <div class = "caja">
                <div class = "text-container">
                    <div style = "border-radius: 50%; width: 100px; height: 100px;
                    background-color: blueviolet; position: absolute; top: -95px; left: 33%;  box-shadow: 0px 0px 25px #0000000D;"></div>
                    <p class = "member-name">David Bertani</p>
                    <p class = "member-position">Director General BWL</p>
                    <p class = "member-description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamc...
                    </p>
                </div>
               
            </div>
            <div class = "caja">
                <div class = "text-container">
                    <div style = "border-radius: 50%; width: 100px; height: 100px;
                    background-color: blueviolet; position: absolute; top: -95px; left: 33%;  box-shadow: 0px 0px 25px #0000000D;"></div>
                    <p class = "member-name">David Bertani</p>
                    <p class = "member-position">Director General BWL</p>
                    <p class = "member-description">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamc...
                    </p>
                </div>
               
            </div>



        </div>

    </div>
   

</div>

<div class = "button-container">
    <button class = "displace-button"(click) = "displaceBox()">></button>
</div>

</div>




